In [33]:
# Import the dependencies
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key
import os
%matplotlib inline

In [34]:
# Store the CSV you saved created in prat one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,New Norfolk,AU,2022-03-19 00:57:32,-42.7826,147.0587,64.71,36,6,2.39
1,1,Nanortalik,GL,2022-03-19 00:57:32,60.1432,-45.2371,17.46,73,100,5.77
2,2,Kavieng,PG,2022-03-19 00:57:33,-2.5744,150.7967,85.98,63,12,13.76
3,3,Saskylakh,RU,2022-03-19 00:57:07,71.9167,114.0833,11.70,94,100,11.45
4,4,Jamestown,US,2022-03-19 00:54:01,42.0970,-79.2353,62.24,41,0,4.61

In [35]:
# Check types of data
city_data_df.dtypes

City ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [36]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key = g_key)

In [37]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights = [max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# Heatmap of percent humidity.
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating =  False, max_intensity = 300, point_radius= 4)

fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
# Heatmap of percent humidity.
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = clouds, dissipating =  False, max_intensity = 300, point_radius= 4)

fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
# Heatmap of percent humidity.
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = wind, dissipating =  False, max_intensity = 300, point_radius= 4)

fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [42]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Kavieng,PG,2022-03-19 00:57:33,-2.5744,150.7967,85.98,63,12,13.76
5,5,Hithadhoo,MV,2022-03-19 00:57:33,-0.6000,73.0833,83.12,74,100,16.60
8,8,Atoyac,MX,2022-03-19 00:57:34,20.0167,-103.5333,72.46,13,0,7.63
9,9,Bourail,NC,2022-03-19 00:57:35,-21.5667,165.4833,82.65,72,100,3.96
22,22,Bluff,NZ,2022-03-19 00:57:41,-46.6000,168.3333,70.81,66,47,11.56
24,24,Rikitea,PF,2022-03-19 00:57:10,-23.1203,-134.9692,80.62,72,22,10.25
27,27,Guapo,BR,2022-03-19 00:57:42,-16.8306,-49.5319,75.58,91,0,3.15
28,28,Esperance,AU,2022-03-19 00:57:43,-33.8667,121.9000,73.24,79,100,16.49
29,29,Emerald,AU,2022-03-19 00:53:41,-23.5333,148.1667,84.34,39,58,5.75
30,30,Pangkalanbuun,ID,2022-03-19 00:57:43,-2.6833,111.6167,78.69,86,100,2.98

In [43]:
preferred_cities_df.count()

City ID       257
City          257
Country       257
Date          257
Lat           257
Lng           257
Max Temp      257
Humidity      257
Cloudiness    257
Wind Speed    257
dtype: int64

In [44]:
# Create the DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
2         Kavieng      PG     85.98  -2.5744  150.7967
5       Hithadhoo      MV     83.12  -0.6000   73.0833
8          Atoyac      MX     72.46  20.0167 -103.5333
9         Bourail      NC     82.65 -21.5667  165.4833
22          Bluff      NZ     70.81 -46.6000  168.3333
24        Rikitea      PF     80.62 -23.1203 -134.9692
27          Guapo      BR     75.58 -16.8306  -49.5319
28      Esperance      AU     73.24 -33.8667  121.9000
29        Emerald      AU     84.34 -23.5333  148.1667
30  Pangkalanbuun      ID     78.69  -2.6833  111.6167

In [45]:
# Set the parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [46]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [49]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Kavieng,PG,85.98,-2.5744,150.7967,Nusa Island Retreat
5,Hithadhoo,MV,83.12,-0.6000,73.0833,Scoop Guest House
8,Atoyac,MX,72.46,20.0167,-103.5333,OYO Hotel Del Portal
9,Bourail,NC,82.65,-21.5667,165.4833,Motel Allamanda
22,Bluff,NZ,70.81,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
24,Rikitea,PF,80.62,-23.1203,-134.9692,People ThankYou
27,Guapo,BR,75.58,-16.8306,-49.5319,Lar de idosos de Guapó
28,Esperance,AU,73.24,-33.8667,121.9000,Hospitality Esperance
29,Emerald,AU,84.34,-23.5333,148.1667,The Irish Village
30,Pangkalanbuun,ID,78.69,-2.6833,111.6167,Grand Kecubung Hotel

In [53]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [56]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [57]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [58]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))